.backdrop {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgba(242, 146, 62, .7);
}

.new-entry::after {
  content: 'Nuovo';
  position: absolute;
  top: -11px;
  background-color: #4299e1;
  border: 1px solid #3782c0;
  text-transform: uppercase;
  font-size: 10px;
  color: #fff;
  padding: 2px 7px;
  border-radius: 20px;
}

.vcdDialog{
  padding: 0;
  &-inner{
    @mixin centerer true, false;
    top: 0;
    @screen md {
      @mixin centerer true, true;
    }    
  }
}

.vcd-closeButton{
  @apply text-center cursor-pointer bg-vcd-rosa text-white border-b-4 border-vcd-rosso rounded;
  &:hover{
    @apply border-b-2 border-t-2 border-vcd-rosa;
  }
  @mixin centerer false, true;
  right: 35px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  svg{
    padding: 5px;
    width: 100%;
  }
}

.vcd-dialogBox{
  @apply flex text-center max-w-screen-md mx-auto border-b border-vcd-azzurro py-4;
}

.day-check{
  @apply border rounded-lg mx-auto mb-2;
  max-width: 35px;
  &.inactive{
    path{
      opacity: 0;
    }
  }
}

.contact-icon{
  path{
    fill: #F2923E;
  }
}