html{
  @apply font-vcd;
  font-size: 16px;
  color: #535353;
}

body {
  background-color: #fff;
}

.icon-insta{
  width: 1rem;
  height: 1rem;
  display: inline-block;
  @apply mx-2;
  path{
    fill: #fff;
  }
}

.homepage-buttons-container{
  a{
    @apply w-full mb-2;
    @screen md {
      @apply w-auto mx-2;
    }
  }
}