.homepage-buttons-container {
   a {
      @apply w-full mb-2;

      @screen md {
         @apply w-auto mx-2;
      }
   }
}

#insta-component {
   margin-top: 5rem;

   .insta-badge {
      @apply mx-auto w-2/6;

      @screen md {
         width: 100px;
      }
   }
}

.deco {
   width: 280px;
   position: absolute;
   bottom: 0;

   &--left {
      left: 0;
   }

   &--right {
      right: 0;
      transform: rotateY(180deg);
   }
}

.save-web-app {
   position: absolute;
   right: 0;
   top: 0;
   left: 0;
   margin: 0 auto;
   text-align: center;
   transform: translateY(-100%);
   @screen md {
      text-align: left;
      left: auto;
   }
   .left-arrow {
      display: inline-block;
      width: 10px;
      height: 10px;
      margin-right: 5px;
      fill: #F2923E;
      transform: rotate(180deg);
      animation: bounce 1s infinite;
   }
}

@keyframes bounce {
   0% {
      transform: rotate(180deg) translateX(0);
   }

   50% {
      transform: rotate(180deg) translateX(.2rem);
   }
   100% {
      transform: rotate(180deg) translateX(0);
   }
}